fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
python-multipart==0.0.9
requests==2.32.3
python-dotenv

streamlit==1.37.1
streamlit-option-menu==0.3.13

pillow==10.4.0
numpy==2.0.2
opencv-python==4.10.0.84

rembg[cpu]==2.0.59

torch==2.4.1
torchvision==0.19.1
diffusers==0.30.3
transformers==4.44.2
accelerate==0.33.0
safetensors==0.4.5

moviepy==1.0.3

# AI APIs
google-genai
groq
together
openai
gradio_client

# Research engine
beautifulsoup4
duckduckgo_search
ddgs
lxml
pymupdf
python-docx
reportlab
pypdf
